<app-panel-breadcrumb></app-panel-breadcrumb>
<div class="container">
  <form class="card" [formGroup]="form" (submit)="submit()">
    <d-control-group formControlName="oldPassword" label="کلمه عبور قدیم">
      <d-input type="password"></d-input>
    </d-control-group>
    <d-control-group formControlName="newPassword" label="کلمه عبور جدید">
      <d-input type="password"></d-input>
    </d-control-group>
    <d-control-group formControlName="renewPassword" label="تکرار کلمه عبور جدید">
      <d-input type="password"></d-input>
    </d-control-group>
    <div class="mt-3">
      <d-button type="submit">ذخیره</d-button>
    </div>
  </form>
</div>
