<form class="flex-column flex-gap-2" [formGroup]="form" (submit)="submit()" autocomplete="off">
  <d-control-group [formControl]="form.controls.name" label="نام">
    <d-input></d-input>
  </d-control-group>
  <d-control-group [formControl]="form.controls.username" label="نام کاربری">
    <d-input dir="ltr"></d-input>
  </d-control-group>
  <d-control-group [formControl]="form.controls.password" label="کلمه عبور" *ngIf="!form.controls.id.value">
    <d-input dir="ltr"></d-input>
  </d-control-group>
  <d-control-group [formControl]="form.controls.cellphone" label="شماره موبایل">
    <d-input dir="ltr"></d-input>
  </d-control-group>
  <d-control-group [formControl]="form.controls.email" label="ایمیل">
    <d-input dir="ltr"></d-input>
  </d-control-group>
  <div class="p-3">
    <d-checkbox [formControl]="form.controls.needResetPassword">
      نیاز به تغییر کلمه عبور دارد
    </d-checkbox>
  </div>
  <d-button type="submit" [loading]="loadingService.loading">ذخیره</d-button>
</form>
