<panel-breadcrumb></panel-breadcrumb>
<d-table [data]="data">
  <ng-template dTableTemplate="caption">
    <div class="flex-row flex-align-center flex-gap-2">
<!--      <d-button size="sm" color="link" icon="far fa-refresh" (click)="load()"></d-button>-->
      <d-button size="sm" icon="far fa-plus" (click)="showDialog(formTpl, {title: 'افزودن کاربر جدید'})" *auth="'User'"></d-button>
      <d-input [formControl]="searchControl" placeholder="جستجو"></d-input>
    </div>
  </ng-template>
  <ng-template dTableTemplate="header,footer">
    <tr>
      <th>#</th>
      <th>نام</th>
      <th>نام کاربری</th>
      <th>شماره موبایل</th>
      <th class="sm-detail">ایمیل</th>
      <th class="sm-detail text-align-center" width="10">ورود دو مرحله ای</th>
      <th class="sm-detail text-align-center" width="10">نیاز به تغییر رمز</th>
      <th class="sm-detail text-align-center" width="10">وضعیت</th>
      <th class="sm-detail text-align-center" width="10">مدیر</th>
      <th class="sm-detail text-align-center" width="10">عملیات</th>
    </tr>
  </ng-template>
  <ng-template dTableTemplate="body" let-item let-index="index">
    <tr>
      <td title="ردیف">{{ index }}</td>
      <td title="نام">{{ item.name }}</td>
      <td title="نام کاربری">{{ item.username }}</td>
      <td class="sm-detail" title="شماره موبایل">{{ item.cellphone }}</td>
      <td class="sm-detail" title="ایمیل">{{ item.email }}</td>
      <td class="sm-detail" title="ورود دو مرحله ای">
        <div class="flex-center">
          <span [ngClass]="(item.isTwoFactorAuthenticationEnable ? 'color-success' : 'color-danger')">
            {{ item.isTwoFactorAuthenticationEnable ? 'بله' : 'خیر' }}
          </span>
        </div>
      </td>
      <td class="sm-detail" title="نیاز به تغییر رمز">
        <div class="flex-center">
          <span [ngClass]="(item.needResetPassword ? 'color-success' : 'color-danger')">
            {{ item.needResetPassword ? 'بله' : 'خیر' }}
          </span>
        </div>
      </td>
      <td class="sm-detail" title="وضعیت">
        <div class="flex-center">
          <span [ngClass]="(item.isActive ? 'color-success' : 'color-danger')">
            {{ item.isActive ? 'فعال' : 'غیر فعال' }}
          </span>
        </div>
      </td>
      <td class="sm-detail" title="مدیر">
        <i *ngIf="item.isAdmin" class="far fa-crown color-warning"></i>
      </td>
      <td class="flex-100">
        <div class="w-100 flex-row flex-justify-end flex-gap-2">
          <ng-container *ngFor="let option of userOptions">
            <d-button
              size="sm"
              mode="text"
              [icon]="option.icon"
              [color]="option.color"
              *auth="option.accesses"
              (click)="showUserOption(option, item)"
            >{{ option.text ? (option.text | translate) : null }}</d-button>
          </ng-container>
          <d-button size="sm" *auth="['Access-Read','Privilege-Read']" mode="text" color="secondary" icon="far fa-shield-keyhole"
                    (click)="showDialog(accessTpl, {title: 'دسترسی کاربر ' + item.name, context: item})"></d-button>
          <ng-container *auth="'User-ResetPassword'">
            <d-button size="sm" mode="text" color="primary" icon="far fa-key" (click)="showDialog(resetPasswordTpl, {title: 'تغییر کلمه عبور', context: item})"></d-button>
          </ng-container>
          <ng-container *auth="'User-Active'">
            <d-button size="sm" *ngIf="!item.isActive" mode="text" color="success" icon="far fa-wave-pulse" (click)="active(item)"></d-button>
          </ng-container>
          <ng-container *auth="'User-DeActive'">
            <d-button size="sm" *ngIf="item.isActive" mode="text" color="danger" icon="far fa-ban" (click)="deActive(item)"></d-button>
          </ng-container>
          <d-button *auth="'User-Message'" size="sm" mode="text" color="link" icon="far fa-message" (click)="showMessage(item)"></d-button>
          <ng-container *auth="'User'">
            <d-button size="sm" mode="text" color="warning" icon="far fa-pen-to-square"
                      (click)="showDialog(formTpl, {title: 'ویرایش کاربر ' + item.name, context: item})"></d-button>
            <d-button size="sm" mode="text" color="danger" icon="far fa-trash-can" (click)="remove(item)"></d-button>
          </ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
</d-table>

<ng-template #formTpl let-dialog let-item="context">
  <app-user-form [model]="item" (onComplete)="dialog.close()"></app-user-form>
</ng-template>

<ng-template #accessTpl let-dialog let-item="context">
  <app-user-access [model]="item" (onComplete)="dialog.close()"></app-user-access>
</ng-template>

<ng-template #resetPasswordTpl let-dialog let-item="context">
  <app-user-reset-password [model]="item" (onComplete)="dialog.close()"></app-user-reset-password>
</ng-template>
